   
  
 
  header{
    background-image: url(images/pic1.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    
  }
/* .nav{
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 1;
  } */
  /* ul{
    display: flex;
    margin-top: 30px;
    margin-left: 350px;
  }
  li{
    display: flex;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: x-large;
    z-index: 1;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    z-index: 1;
  }
  .dropdown-content li {
    color: black;
    text-decoration: none;
    display: block;
    height: 50px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }




  .drop {
    position: relative;
    display: inline-block;
  }
  .dropdown-content1 {
    display: none;
    position: absolute;
    left: 140px;
    background-color: white;
    min-width: 140px;
    z-index: 1;
  }
  .dropdown-content1 li {
    color: black;
    text-decoration: none;
    display: block;
    height: 50px;
  }
  .drop:hover .dropdown-content1 {
    display: block;
  } */


  .main{
    background-color: rgba(0, 0, 0, 0.628);
    height: 610px;
    
    position: absolute;
    top: 0;
    width: 99%;
    justify-self: flex-start;
  }
  .main2{
    margin-top: 150px;
    text-align: center;
  }
  #h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
  #p1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
  }

  .div1{
    width: 100%;
    height: 100px;
    margin-top: 80px;
  }
  #h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.805);
    font-weight: bolder;
  }



  .container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    
  }
  .left{
    width: 40%;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .right{
    width: 40%;
    height: 400px;
    margin-top: 10px;
  }
  #p2{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    line-height: 2;
    margin-left: 50px;
    margin-top: -10px;
  }
  #span1{
    font-size: 25px;
    color: black;
  }
  #span2{
    line-height: 3;
  }
  .div2{
    width: 100%;
    height: 100px;
    margin-top: 80px;
  }
  #h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.805);
    font-weight: bolder;
    font-size: 40px;
  }
  #p3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 20px;
  }



  .container1{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }
  .left1{
    width: 40%;
    height: 400px;
    margin-top: 10px;
    margin-left: 20px;
  }
  .right1{
    width: 40%;
    height: 400px;
    margin-top: 10px;
  }
  #p4{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    margin-left: 50px;
    margin-top: -10px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.485);
  }
  #span3{
    font-size: 40px;
    color: rgba(0, 0, 255, 0.805);
  }
  #span4{
   font-size: 20px;
  }



  .div3{
    width: 100%;
    height: 100px;
    margin-top: 80px;
  }
  #h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.805);
    font-weight: bolder;
    font-size: 40px;
  }
  #p5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 20px;
  }



  .div4{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  .img1{
    width: 100%;
  }
  .section{
    width: 18%;
    margin-left: 100px;
  }
  .section1{
    width: 18%;
  }
  .section2{
    width: 18%;
  }
  .section3{
    width: 18%;
    margin-right: 100px;
  }



  .div5{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  .img1{
    width: 100%;
  }
  .section4{
    width: 18%;
    margin-left: 100px;
  }
  .section5{
    width: 18%;
  }
  .section6{
    width: 18%;
  }
  .section7{
    width: 18%;
    margin-right: 100px;
  }


  #h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.805);
    font-weight: bolder;
    font-size: 40px;
    margin-top: 130px;
  }
  [class^=button]{
     background-color: lightblue;
     height: 30px;
     width: 5%;
     border-radius: 20px;
     border: none;
  }
  .button:hover{
    background-color: darkcyan;
    cursor: pointer;
  }
  

  .div7{
    margin-top: 130px;
    width: 90%;
    min-height: 1100px;
   
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
  }
  .top{
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
  }
  .section9{
    margin-top: 20px
  }
  .mid{
    width: 22%;
    
  }
  .center{
    width: 22%;
    
  }
  .end{
    width: 22%;
  }


  .div8{
    margin-top: 100px;
    height: 700px;
    width: 100%;
    /* background-color: rgba(245, 222, 179, 0.37); */
    background-color: rgba(128, 128, 128, 0.068); 
  }
  
  #h6{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 255, 0.805);
    font-weight: bolder;
    font-size: 40px;
    line-height: 6;
  }  
  .head{
     width: 100%;
     height: 200px; 
     display: flex;
     justify-content: space-evenly;
     margin-top: -50px;
  }
  #p6{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  #span5{
    font-size: 25px;
    line-height: 3;
    color: black;
  }
  #span6{
    color: blue;
    line-height: 3;
  }
  .foot{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
 }


 .div9{
  margin-top: 100px;
  height: 700px;
  width: 100%;
  /* background-color: rgba(245, 222, 179, 0.37); */
  background-color: rgba(128, 128, 128, 0.068); 
 }
  #h7{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 255, 0.805);
  font-weight: bolder;
  font-size: 40px;
  line-height: 4;
 }  
 .div10{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  height: 500px;
  margin-top: -30px;
 }
 .div11{
  margin-top: 20px;
  
  width: 25%;
  height: 450px;
  background-color: white;
 }
 .div12{
  margin-top: 20px;
  
  width: 25%;
  height: 450px;
  background-color: white;
 }
 .div13{
  margin-top: 20px;
  
  width: 25%;
  height: 450px;
  background-color: white;
 }
















 @media (max-width: 445px){
  
  header{
      width: 100%;
      justify-content: flex-start;
  }
  /* .nav{
      width: 100%;
      
  } */
  .main{
      width: 95%;
      justify-content: flex-start;
  }
  .container{
      width: 100% ;
      height: 750px ;
      flex-direction: column;
      justify-self:flex-start ;
  }
  .left{
      width: 100% ;
      justify-self: flex-start;
  }
  .right{
      width: 100% ;
      justify-self: flex-start;
  }
  #p2{
    margin-left: 0;
    margin-top: 10px;
  }
  .container1{
      width: 100% ;
      height: 750px ;
      flex-direction: column;
      justify-content: flex-start;
  }
  .left1{
      width: 100% ;
  }
  .right1{
      width: 100% ;
  }
  #p4{
    margin-left: 15px;
    margin-top: 10px;
  }
  .start{
    margin-left: 0;
    
  }
  .div2{
      width: 100% ;
      text-align: center ;
      justify-content: flex-start;
      margin-top: 80px;
  }
  .div3{
      width: 100%;
      text-align: center;
      margin-top: 150px;
  }
  .div4{
      width: 100% ;
      height: 1100px ;
      flex-direction: column;
      margin-top: 100px;
     justify-content: flex-start;
  }
  .section{
      width: 100% ;
      margin-left: 0 ;
      margin-top: 100px;
  }
  .section1{
      width: 100% ;
      margin-top: 10px;
  }
  .section2{
      width: 100% ;
      margin-top: 10px;
  }
  .section3{
      width: 100% ;
      margin-right: 0 ;
      margin-top: 10px;
  }

  .div5{
      width: 100% ;
      height: 1500px ;
      flex-direction: column;
      margin-top: 900px ;
      justify-content: flex-start;
  }
  .section4{
      width: 100% ;
      margin-left: 0 ;
     
  }
  .section5{
      width: 100% ;
      margin-top: 10px;
  }
  .section6{
      width: 100% ;
      margin-top: 10px;
  }
  .section7{
      width: 100% ;
      margin-right: 0 ;
      margin-top: 10px;
  }

  .div7{
    width: 100%;
    flex-direction: column;
  }
  .top{
    width: 100%;
  }
  .mid{
    width: 100%;
  }
  .center{
    width: 100%;
  }
  .end{
    width: 100%;
  }
  .button{
    width: 20%;
  }


  .div8{
    width: 100%;
    height: 1550px;
  } 
  .head{
   width: 100%;
   flex-direction: column;
   height: 620px;
  }
  .foot{
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    height: 620px;
   }


   .div9{
    width: 100%;
    height: 1500px;
   }
   .div10{
    width: 100%;
    height: 1450px;
    flex-direction: column;
   }
   .div11{
    width: 98%;
   }
   .div12{
    margin-top: 50px;
    width: 98%;
   }
   .div13{
    margin-top: 50px;
    width: 98%;
   }


}













  @media (max-width: 360px){
  
    header{
        width: 100%;
        justify-content: flex-start;
    }
    /* .nav{
        width: 100%;
        
    } */
    .main{
        width: 95%;
        justify-content: flex-start;
    }
    .container{
        width: 100% ;
        height: 750px ;
        flex-direction: column;
        justify-self:flex-start ;
    }
    .left{
        width: 100% ;
        justify-self: flex-start;
    }
    .right{
        width: 100% ;
        justify-self: flex-start;
    }
    #p2{
      margin-left: 0;
      margin-top: 10px;
    }
    .container1{
        width: 100% ;
        height: 750px ;
        flex-direction: column;
        justify-content: flex-start;
    }
    .left1{
        width: 100% ;
        
    }
    .right1{
        width: 100% ;
    }
    #p4{
      margin-left: 15px;
      margin-top: 10px;
    }
    .start{
      margin-left: 0;
      
    }
    .div2{
        width: 100% ;
        text-align: center ;
        justify-content: flex-start;
        margin-top: 150px;
    }
    .div3{
        width: 100%;
        text-align: center;
        margin-top: 300px;
    }
    .div4{
        width: 100% ;
        height: 1100px ;
        flex-direction: column;
        margin-top: 100px;
       justify-content: flex-start;
    }
    .section{
        width: 100% ;
        margin-left: 0 ;
        margin-top: 100px;
    }
    .section1{
        width: 100% ;
        margin-top: 10px;
    }
    .section2{
        width: 100% ;
        margin-top: 10px;
    }
    .section3{
        width: 100% ;
        margin-right: 0 ;
        margin-top: 10px;
    }

    .div5{
        width: 100% ;
        height: 1500px ;
        flex-direction: column;
        margin-top: 500px ;
        justify-content: flex-start;
    }
    .section4{
        width: 100% ;
        margin-left: 0 ;
       
    }
    .section5{
        width: 100% ;
        margin-top: 10px;
    }
    .section6{
        width: 100% ;
        margin-top: 10px;
    }
    .section7{
        width: 100% ;
        margin-right: 0 ;
        margin-top: 10px;
    }

    .div7{
      width: 100%;
      flex-direction: column;
    }
    .top{
      width: 100%;
    }
    .mid{
      width: 100%;
    }
    .center{
      width: 100%;
    }
    .end{
      width: 100%;
    }
    .button{
      width: 20%;
    }


    .div8{
      width: 100%;
      height: 1550px;
    } 
    .head{
     width: 100%;
     flex-direction: column;
     height: 620px;
    }
    .foot{
      margin-top: 50px;
      width: 100%;
      flex-direction: column;
      height: 620px;
     }


     .div9{
      width: 100%;
      height: 1500px;
     }
     .div10{
      width: 100%;
      height: 1450px;
      flex-direction: column;
     }
     .div11{
      width: 98%;
     }
     .div12{
      margin-top: 50px;
      width: 98%;
     }
     .div13{
      margin-top: 50px;
      width: 98%;
     }


  }





 